<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../../assets/images/Group 8.png">
                    </span>
                    <span class="title">
                        <h2>Jobie</h2>
                    </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../../assets/images/Vector (2).png">
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../../assets/images/image 3.png">
                    </span>
                    <span class="title">Job Providers</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../../assets/images/image 3 (1).png">
                    </span>
                    <span class="title">New Registrations</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../../assets/images/image 4.png">
                    </span>
                    <span class="title">Job Seekers</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../../assets/images/ic_search.png">
                    </span>
                    <span class="title">Jobs</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../../assets/images/Group 239604.png">
                    </span>
                    <span class="title">My Profile</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
            <li><img src="../../assets/images/image 4.png">
                </span>
                <span class="title">Messages</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../../assets/images/image 4 (1).png">
                    </span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <img src="../../assets/images/image 5.png">
                    </span>
                    <span class="title">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>