<nav class="navbar">
    <div class="navbar-left">
        <ul class="nav-items">
            <h2>
                <li><a>Jobs</a></li>
            </h2>

        </ul>
    </div>
    <div class="navbar-center">
        <ul class="nav-items">
            <li><a>
                    <div class="search-bar">
                        <input type="text" placeholder="Search something here...">
                        <button type="button">
                            <img src="../../assets/images/search.png">
                        </button>
                    </div>
                </a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <ul class="nav-items">
            <li>
                <a href="#"><img src="../../assets/images/ic_chat.png"></a>
            </li>
            <li><a><img src="../../assets/images/ic_bell.png"></a></li>
            <li><a><img src="../../assets/images/profilePicture.png" align="center"><b>Oda Link</b></a></li>
        </ul>
    </div>
</nav>