<div class="offcanvass">
    <div class="offcanvas-header">
        <img class="img-fluid" src="../../assets/images/Group 8.png">
        <img class="img-fluid" src="../../assets/images/Jobie.png">
        <button type="button" class="btn-close  btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button> 
    </div>
    <div class="offcanvas-body px-0">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start  link-light" id="menu">
            <li class="nav-item py-1"  >
                <a href="#" class="nav-link text-truncate "   >
                    <i class="ms-3 fs-5 bi-house-fill"></i>
                    <span class="ms-4  d-sm-inline" >Dashboard</span>
                </a>
            </li>
            <li class="nav-item py-1  ">
                <a href="#"  class="nav-link text-truncate link-light"  >
                    <i class="ms-3 fs-5  bi bi-people-fill"></i>
                    <span class="ms-4  d-sm-inline">Job Providers</span> </a>
            </li>
            <li  class="nav-item py-1">
                <a href="#" class="nav-link text-truncate link-light"  >
                    <i class="ms-3 fs-5  bi bi-file-text-fill"></i>
                    <span class="ms-4  d-sm-inline">New Registrations</span></a>
            </li>
            <li  class="nav-item py-1">
                <a href="#" class="nav-link  text-truncate link-light" >
                    <i class="ms-3 fs-5  bi bi-search"></i>
                    <span class="ms-4  d-sm-inline">Job Seekers</span>
                </a>                   
            </li>
            <li  class="nav-item py-1">
                <a href="#" class="nav-link text-truncate link-light">
                    <i class="ms-3 fs-5 bi-grid-fill"></i>
                    <span class="ms-4  d-sm-inline">Jobs</span></a>
            </li>
            <li  class="nav-item py-1">
                <a href="#" class="nav-link text-truncate link-light">
                    <i class="ms-3 fs-5 bi bi-person-fill"></i>
                    <span class="ms-4  d-sm-inline">My Profile</span> </a>
            </li>
            <li  class="nav-item py-1">
                <a href="#" class="nav-link text-truncate link-light">
                    <i class="ms-3 fs-5 bi bi-envelope-fill"></i>
                    <span class="ms-4  d-sm-inline">Messages</span> </a>
            </li>
            <li  class="nav-item py-1">
                <a href="#" class="nav-link text-truncate  link-light">
                    <i class="ms-3 fs-5 bi bi-gear-fill"></i>
                    <span class="ms-4  d-sm-inline">Settings</span> </a>
            </li>
            <li  class="nav-item py-1">
                <a href="#" class="nav-link text-truncate  link-light">
                    <span class=" ms-4 ms-1  d-sm-inline">Logout</span> </a>
            </li>
        </ul>
    </div>
</div>
    
