
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">New Registrations</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 mt-4" type="search" placeholder="Search something here" aria-label="Search">
          
        </form>
      <li class="nav-item active">
        <a class="nav-link" href="#"><img class="img-fluid" src="../../assets/images/notification.png"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img class="img-fluid" src="../../assets/images/noti.png"> </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><img class="img-fluid" src="../../assets/images/profile.png"></a>
      </li>
    </ul>
    
  </div>
</nav>
