.jobs{
    border: 1px solid grey;
    border-radius: 10px;
   padding-bottom: 10px;
}
.button{
    background-color: gray;
    color:white;
    font-weight: 600;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}