<div class="row">
    <div class="col-md-12">
        <div class="row ">
            <div class="col-md-4 col-lg-3 ">
                <h6>Showing 45 applicants</h6>
                <p style="color:#8A8A8A;">Based your preferences</p>
            </div>
            <div class = " col-sm-4 col-md-6 btn-group-sm ">
                <button type = "button" class = "btn btn-light rounded btn-sm"><a href="javascript:void(0)" id="All">All</a></button>
                <button type = "button" class = "btn btn-light rounded btn-sm"><a href="javascript:void(0)" id="Pending">Pending</a></button>
                <button type = "button" class = "btn btn-light rounded btn-sm"><a href="javascript:void(0)" id="OnHold">OnHold</a></button>
                <button type = "button" class = "btn btn-light rounded btn-sm"><a href="javascript:void(0)" id="Candidate">Candidate</a></button>
                
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
    <div class="col-sm-5"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive rounded">
            <table class="table no-wrap user-table mb-0 table-hover  " id="table_filter">
                <thead>
                  <tr class="pl-1" style="border-bottom: 2px rgb(211, 209, 209) solid;">
                    <th scope="col" class="border-0 text-uppercase font-medium">
                      <div class="form-check">
                           <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">                                   
                      </div>
                   </th>
                    <th scope="col" class="border-0 text-uppercase font-medium">ID</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Date Applied</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Company</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Type</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Position</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Contact</th>  
                    <th scope="col" class="border-0 text-uppercase font-medium">Status</th>  
                    <th scope="col" class="border-0 text-uppercase font-medium"></th>                            
                  </tr >
                </thead>
                <tbody >
                  <tr >
                      <td class="pl-4">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">                                   
                           </div>
                      </td>
                      <td class="pl-4">#APL-0003</td>
                      <td class="pl-4">June 1, 2020, 08:22 AM</td>
                      <td class="pl-4">
                          <div class="row">
                              <div class="col-sm-3 ">
                                  <img class="img-fluid" src="images/companyLogo.png">
                              </div>
                              <div class="col-sm-9">
                              Mosciski Inc.<br>
                                  <span>Creative Design Agency</span>
                              </div>
                          </div>                                    
                      </td>
                      <td class="pl-4">FREELANCE</td>
                      <td class="pl-4">Intern UI Designer</td>
                      <td class="pl-4">
                          <div class="row">                                            
                              <div class="col-sm-5">
                                  <div class="rounded-circle  p-1" >
                                      <i class="bi bi-telephone-fill"></i>
                                  </div>
                              </div>
                              <div class="col-sm-5">
                                  <div class="rounded-circle  p-1" >
                                      <i class="bi bi-envelope-fill"></i>
                                  </div>
                              </div>                                       
                          </div>
                      </td>
                      <td class="pl-4">
                          <div class="rounded-pill  p-1" style="border: 1px solid gray; color: gray;">Pending</div>
                          
                      </td>
                      <td><i class="bi bi-three-dots-vertical"></i></td>
                   
                  </tr>
                  <!--************************************************************************************-->
                  <tr >
                      <td class="pl-4">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">                                   
                           </div>
                      </td>
                      <td class="pl-4">#APL-0002</td>
                      <td class="pl-4">June 1, 2020, 08:22 AM</td>
                      <td class="pl-4">
                          <div class="row">
                              <div class="col-sm-3 ">
                                  <img class="img-fluid" src="images/companyLogo.png">
                              </div>
                              <div class="col-sm-9">
                                  Funk Inc.<br>
                                  <span>IT Department</span>
                              </div>
                          </div>                                    
                      </td>
                      <td class="pl-4">PARTTIME</td>
                      <td class="pl-4">Junior UI Designer</td>
                      <td class="pl-4">
                          <div class="row">                                            
                              <div class="col-sm-5">
                                  <div class="rounded-circle  p-1" >
                                      <i class="bi bi-telephone-fill"></i>
                                  </div>
                              </div>
                              <div class="col-sm-5">
                                 
                              </div>                                       
                          </div>
                      </td>
                      <td class="pl-4">
                          <div class="rounded-pill  p-1" style="border: 1px solid #FF9548; color: #FF9548;">On Hold</div>
                      </td>
                      <td><i class="bi bi-three-dots-vertical"></i></td>
                   
                  </tr>
                  <!--************************************************************************************-->
                  <tr >
                      <td class="pl-4">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">                                   
                           </div>
                      </td>
                      <td class="pl-4">#APL-0003</td>
                      <td class="pl-4">June 1, 2020, 08:22 AM</td>
                      <td class="pl-4">
                          <div class="row">
                              <div class="col-sm-3 ">
                                  <img class="img-fluid" src="images/companyLogo.png">
                              </div>
                              <div class="col-sm-9">
                                  Mosciski Inc.<br>
                                  <span>Creative Design Agency</span>
                              </div>
                          </div>                                    
                      </td>
                      <td class="pl-4">FREELANCE</td>
                      <td class="pl-4">Intern UI Designer</td>
                      <td class="pl-4">
                          <div class="row">                                            
                              <div class="col-sm-6">
                                  <div class="rounded-circle  p-2" >
                                    <i class="bi bi-whatsapp"></i>
                                  </div>
                              </div>
                              <div class="col-sm-5">
                                 
                              </div>                                       
                          </div>
                      </td>
                      <td class="p3">
                          <div class="rounded-pill  p-1"  style="border: 1px solid gray; color: gray;">Pending</div>
                      </td>
                      <td><i class="bi bi-three-dots-vertical"></i></td>
                   
                  </tr>                               
                  <!--************************************************************************************-->
                  <tr >
                      <td class="pl-4">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">                                   
                           </div>
                      </td>
                      <td class="pl-4">#APL-0001</td>
                      <td class="pl-4">June 1, 2020, 08:22 AM</td>
                      <td class="pl-4">
                          <div class="row">
                              <div class="col-sm-3 ">
                                  <img class="img-fluid" src="images/companyLogo.png">
                              </div>
                              <div class="col-sm-9">
                                  Highspeed Studios<br>
                                  <span>Creative Design Agency</span>
                              </div>
                          </div>                                    
                      </td>
                      <td class="pl-4">FULLTIME</td>
                      <td class="pl-4">Senior UX Designer</td>
                      <td class="pl-4">
                          <div class="row">                                            
                              <div class="col-sm-5">
                                  <div class="rounded-circle  p-1" >
                                      <i class="bi bi-telephone-fill"></i>
                                  </div>
                              </div>
                              <div class="col-sm-5">
                                  <div class="rounded-circle  p-1" >
                                      <i class="bi bi-envelope-fill"></i>
                                  </div>
                              </div>                                       
                          </div>
                      </td>
                      <td class="pl-4">
                          <div class="rounded-pill  p-1" style="background-color: #2BC155;color: white;">Candidate</div>
                      </td>
                      <td><i class="bi bi-three-dots-vertical"></i></td>
                   
                  </tr>                               
                  <!--************************************************************************************-->
                  <tr >
                      <td class="pl-4">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">                                   
                           </div>
                      </td>
                      <td class="pl-4">#APL-0002</td>
                      <td class="pl-4">June 1, 2020, 08:22 AM</td>
                      <td class="pl-4">
                          <div class="row">
                              <div class="col-sm-3 ">
                                  <img class="img-fluid" src="images/companyLogo.png">
                              </div>
                              <div class="col-sm-9">
                                  Funk Inc.<br>
                                  <span>IT Department</span>
                              </div>
                          </div>                                    
                      </td>
                      <td class="pl-4">PART TIME</td>
                      <td class="pl-4">Junior UI Designer</td>
                      <td class="pl-4">
                          <div class="row">                                            
                              <div class="col-sm-5">
                                  <div class="rounded-circle  p-1" >
                                      <i class="bi bi-envelope-fill"></i>
                                  </div>
                              </div>
                              <div class="col-sm-5">
                                 
                              </div>                                       
                          </div>
                      </td>
                      <td class="pl-4">
                          <div class="rounded-pill  p-1"  style="border: 1px solid #FF9548; color: #FF9548;">On-Hold</div>
                      </td>
                      <td><i class="bi bi-three-dots-vertical"></i></td>
                   
                  </tr>                               
                  <!--************************************************************************************-->
                  <tr >
                      <td class="pl-4">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">                                   
                           </div>
                      </td>
                      <td class="pl-4">#APL-0001</td>
                      <td class="pl-4">June 1, 2020, 08:22 AM</td>
                      <td class="pl-4">
                          <div class="row">
                              <div class="col-sm-3 ">
                                  <img class="img-fluid" src="images/companyLogo.png">
                              </div>
                              <div class="col-sm-9">
                                  Highspeed Studios<br>
                                  <span>Creative Design Agency</span>
                              </div>
                          </div>                                    
                      </td>
                      <td class="pl-4">FULLTIME</td>
                      <td class="pl-4">Senior UX Designer</td>
                      <td class="pl-4">
                          <div class="row">                                            
                              <div class="col-sm-5">
                                  <div class="rounded-circle  p-1" >
                                      <i class="bi bi-telephone-fill"></i>
                                  </div>
                              </div>
                              <div class="col-sm-5">
                                  <div class="rounded-circle  p-1" >
                                      <i class="bi bi-envelope-fill"></i>
                                  </div>
                              </div>                                       
                          </div>
                      </td>
                      <td class="pl-4">
                          Candidate
                          <!-- <div class="rounded-pill  p-1"  style="background-color: #2BC155;color: white;">Candidate</div> -->
                      </td>
                      <td><i class="bi bi-three-dots-vertical"></i></td>
                   
                  </tr>
                  <!--************************************************************************************-->
            
                    
              
                </tbody>
              </table>
        </div>
    </div>
</div>