

<!-- event binding -->
<!-- <div class="search-bar">
    <form>
    <span><b>Search :</b></span>
    <input type="text" (input) = "changeSearchvalue($event)">
    <span>You searched for "{{searchValue}}"</span>
    </form>
</div> -->

<!-- two way databinding -->
<!-- <div class="search-bar">
    <form>
    <span><b>Search :</b></span>
    <input type="text" name ="searchValue" [(ngModel)] = "searchValue">
    <span>You searched for {{searchValue}}</span>
    </form>
</div> -->

<!-- ngfor directive -->
<!-- <p>products</p>
<div *ngFor='let p of products'>
    <p>{{p.id}}</p>
    <p>{{p.name}}</p>
    <p>{{p.lastname}}</p>
</div> -->

<!-- *ngIf directive -->
<!-- <div class="search-bar">
    <form>
    <span><b>Search :</b></span>
    <input type="text" name ="searchValue" [(ngModel)] = "searchValue">
    <span *ngIf = "searchValue != '' ">you searched for {{searchValue}}</span>
    </form>
</div>  -->

<!-- ngclass directive -->
<!-- <div class="search-bar" [ngClass]="{changebackground:searchValue != ''}">
    <form>
    <span><b>Search :</b></span>
    <input type="text" name ="searchValue" [(ngModel)] = "searchValue">
    <span *ngIf = "searchValue != '' ">you searched for {{searchValue}}</span>
    </form>
</div>  -->
