<div class="foot col-12 pt-4 d-flex">
    <div class="col-2">
        <h3>Links</h3>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Report</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
    <div class="col-3">
        <h3>Office</h3>
        <p>ITPL Road</p>
        <p>Silver valley</p>
        <p>California, USA</p>
        <p class="emal-id">contactme@gmail.com</p>
        <h4>+01-6667-432-432</h4>
    </div>
    <div class="col-3">
        <h3>Newsletter</h3>
        <form>
            <i class="bi bi-envelope text-white"></i>
            <input type="email" placeholder="Enter your email" required>
            <button type="submit"><i class="bi bi-arrow-right text-white"></i></button>
        </form>
    </div>
    <div class="col-4">
        <div class="icons">
            <a href="#" class="icon github"><i class="bi bi-github"></i></a>
            <a href="#" class="icon twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="icon instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="icon linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="#" class="icon whatsapp"><i class="bi bi-whatsapp"></i></a>
        </div>
    </div>
</div>
