<div class="container-fluid  ">
  <div class="row gx-0">
    <div class="col-2 col-md-4 col-lg-3 sidebar " style="margin-left: -15px;">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 col-md-8 col-lg-9" >
      <div class="row">
        <div class="col header ">
          <app-header></app-header>
        </div>
      </div>
      <div class="row">
        <div class="col content">
          <app-content></app-content>
  
        </div>
      </div>
    </div>
  </div>
  </div>