<div class="sidebar ">
    <div class="text-center">
        <h3 class=" pt-5 ">Hire Me Now!!</h3>
        <img src="../../assets/images/leslie-large.png" alt="">
        <h3 class="mt-3">Leslie Alexander</h3>
        <h6>alexanderleslie@gmail.com</h6>
    </div>
    <div class="mt-5">
        <ul style="list-style: none; ">
            <li class="list"> <i class="bi bi-briefcase-fill"></i> All Jobs</li>
            <li class="list"> <i class="bi bi-list-check"></i> My Applications</li>
            <li class="list"> <i class="bi bi-chat-dots-fill"></i> Messages</li>
            <li class="list"><i class="bi bi-person-circle"></i> Profile</li>
            <li class="list"> <i class="bi bi-gear-fill"></i> Settings</li>
        </ul>
        
    </div>
   
</div>
