<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                       <img src="../../assets/images/Group 8.png">
                    </span>
                    <span class="title"><h2>Jobie</h2></span>
                </a>
            </li>
    
            <li>
                <a routerLink="/dashboard" routerLinkActive="active">
                    <span class="icon">
                        <i class="bi bi-windows"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
    
            <li>
                <a routerLink="/job" routerLinkActive="active">
                    <span class="icon">
                        <i class="bi bi-briefcase-fill"></i>
                    </span>
                    <span class="title">Jobs</span>
                </a>
            </li>
    
            <li>
                <a routerLink="/applications" routerLinkActive="active">
                  <span class="icon">
                    <i class="bi bi-list-check"></i>
                   
                  </span>
                  <span class="title">Applications</span>
                </a>
            </li>

            <li>
                <a routerLink="/interview" routerLinkActive="active">
                  <span class="icon">
                    <i class="bi bi-chat-dots"></i>
                   
                  </span>
                  <span class="title">Interviews</span>
                </a>
            </li>

            <li>
                <a routerLink="/settings" routerLinkActive="active">
                  <span class="icon">
                    <i class="bi bi-chat-quote-fill"></i>
                   
                  </span>
                  <span class="title">Settings</span>
                </a>
            </li>
            <li>
                <a routerLink="/messages" routerLinkActive="active">
                  <span class="icon">
                    <i class="bi bi-gear-fill"></i>
                   
                  </span>
                  <span class="title">Logout</span>
                </a>
            </li>
    
            
    
            
        </ul>
    </div>
    </div>