.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:962px;
  }
  
  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-center {
    flex-grow: 1;
    text-align: center;
  }
  
  .nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-items li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-items li:last-child {
    margin-right: 0;
  }
  
  .nav-items a {
    text-decoration: none;
    color: black;
  }
  .active{
    font-weight: bold;
    color: blue;
 }
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .profile-info h2 {
    margin: 0;
    font-size: 16px;
  }
  
  .profile-info p {
    margin: 0;
    font-size: 14px;
    color: #888;
  }
  