<nav class="navbar">
    <div class="navbar-left">
        <ul class="nav-items">
        <h2><li><a></a></li></h2> 
        </ul>
    </div>
    <div class="navbar-right">
        <ul class="nav-items">
        <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active" >About Us</a></li>
        </ul>
        <div class="profile">
            <img src="../../assets/images/profilePicture.png" alt="Profile Picture" />
            <div class="profile-info">
                <h2>Oda Dink</h2>
                <p>Super Admin</p>
            </div>
        </div>
    </div>
</nav>